* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --prim-color: #0a146e;
  --prim-color-light: #152ae6;
  --head-fweight: 700;
  --para-fweight: 400;
  --inpt-field: black;
  --ff-clr: #fff;
}
.section-center {
  max-width: 1280px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--prim-color);
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: var(--ff-clr);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: var(--prim-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--ff-clr);
}

.logo-cont {
  width: 4rem;
}

.line-section {
  margin-top: 7rem;
  text-align: center;
  line-height: 1.4rem;
}
.punch-line {
  color: var(--ff-clr);
}
/* card */

.card {
  margin-top: 2rem;
  color: #778899;
  background-color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}

.single-link {
  display: flex;
  gap: 0.3rem;
  transition: 0.3s all linear;
  cursor: pointer;
}

.single-link:hover {
  color: lightseagreen;
}

.clickables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.single-field {
  margin: 1.3rem 0;
}

.field-head {
  color: black;
  font-weight: 600;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.transfer-icon {
  border: 1px solid lightgray;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

select,
input {
  border: 1px solid lightgray;
  padding: 0.9rem 1rem;
  width: 100%;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.btn {
  background-color: #0071eb;
  border: none;
  padding: 1rem 1.2rem;
  width: 100%;
  margin-top: 1.2rem;
  color: var(--ff-clr);
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 0.4rem;
  cursor: pointer;
}

.flag {
  height: 30px;
  width: 4px;
  background-color: red;
}
.disclaimer {
  display: flex;
  gap: 0.8rem;
  margin-top: 1.1rem;
  font-size: 0.8rem;
  align-items: center;
  max-width: 300px;
}

.persn-busin {
  display: none;
}
.nav-links {
  display: none;
}
.sign-reg {
  display: none;
}

@media screen and (min-width: 996px) {
  .card {
    padding: 0.2rem 1.2rem;
  }
  form {
    display: grid;
    gap: 1.4rem;
  }
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    gap: 1.2rem;
    margin-top: 2rem;
  }
  .transfer-icon {
    margin-left: 0;
    margin-top: 3rem;
  }
  .btn {
    width: 200px;
  }
  .ending {
    display: flex;
    justify-content: space-between;
  }
  .bars-icon {
    display: none;
  }
  .starting {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
  .persn-busin {
    display: flex;
    gap: 0.6rem;
  }
  .persn-busin h3 {
    font-weight: lighter;
    font-size: 1rem;
  }
  .persn-link {
    border-right: 2px solid white;
    padding-right: 0.7rem;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  .sign-reg {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .reg-btn {
    background-color: #0071eb;
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
  }
  .single-nav-link {
    transition: 0.3s;
    padding: 0.4rem 0.7rem;
    border-radius: 0.4rem;
  }
  .single-nav-link:hover {
    background-color: #778899;
  }
}
